<% include partials/header %>

  <div class="textbox">
    <h2><strong>What is Dungeon Man Go!?</strong></h2>
    <p>Dungeon Man Go! is the latest in walking based experiences! Walk with Brick Road to raise your arbitrary numbers!</p>
    
    <h2><strong>I have to walk?</strong></h2>
    <p>You can walk without ever leaving your couch! If you're tired, asleep, or just don't like walking, that's okay, Brick Road will just keep walking as long as you let him, happily raising your score sky high!</p>
    
    <h2><strong>Why would someone do something like this?</strong></h2>
    <p>Direct all complaints to <a href="http://www.twitter.com/vidStrickland">@vidStrickland</a></p>
  </div>

<% include partials/footer %>