<% include partials/header %>
<%var specialOffer = false;%>
<script src="scripts/audio.js"></script>
  <div class="play">
      <div id="dungeonman">
          <img src="images/dungeonman.gif" > 
      </div>
  </div>
  <%if(specialOffer == true){%>
  <a href="/specialoffer">
  <div class="specialoffer">
    <p><strong>Special Camp Videogamely Offer!</strong></p>
    <p>Want more dP? Click here for details!</p>
  </div>
  </a>
<%}%>
<% include partials/footer %>