<% include partials/header %>

  <div class="textbox">
      <h2><strong>August 8, 2016</strong></h2>
      <p>Camp Fangamer 2016 has come and gone, and so has the special Dungeon Man Go! Plus offer! Keep an eye out for future Dungeon Man Go! events!</p>
      <p>All Dungeon Man Go! Plus subscribers have received an additional 10,000 meters walked.</p>
      <p>Everyone who subscribed to Dungeon Man Go! Plus at Camp Fangamer 2016 has been flagged to receive a special achievement once profiles are turned on.</p>
      <p>Added "Updates" section to make patch notes available from the website. Hi!</p>
      <p>Bug fixes.</p>
    
    <h2><strong>July 27, 2016</strong></h2>
    <p>Camp Fangamer 2016 is just around the corner! All users should now see a link to a Special Offer at the bottom of their page. This will be the only chance to get the "Camp Videogamely 2016" achievement</p>
    <p>Added system for tracking and adjusting the current dP cost for a Dungeon Man Go! Plus account during Camp Fangamer 2016.</p>
    <p>Added About page as a feeble attempt to explain why this exists.</p>
    
    <h2><strong>July 26, 2016</strong></h2>
    <p>Dungeon Man Go! launch!</p>
  </div>

<% include partials/footer %>